html, body{
    background-color: #c7f9cc;
    margin: 0;
    padding: 0;
    font-family: Inter;
    /*height: 100%; this does not work for some reason, also tried 100vh*/
}
.main_body{
    height: calc(100vh - 46.2px); /*not ideal*/
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'motion'
                         'user';
}
.top_bar{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}
.right_buttons{
    display:flex;
    justify-content: baseline;
}

.back_button{
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.motion_box{
    width: 850px; 
    background-color: #57cc99;
    padding: 10px;
    display: grid;
    align-items: space-between;
    grid-area: motion;
    place-self: center;

}

.user_bar{
    background-color:#22577A;
    grid-area: user;
    display: grid;
    grid-template-rows: 3fp 1fp;
    grid-template-columns: 1fp 3fp 2fp;
    grid-template-areas: 'none text buttons'
                         'none checkbox buttons ';
    
}

/*parts of motion box (motion, bottom_motion (buttons), */
.motion{
    background-color: lightgray;
    padding: 10px;
}

.bottom_motion{
    display:flex;
    justify-content: space-between;
}

.text_input{
    background-color: white;
    padding: 10px; 
    margin: 20px;
    margin-right: 5px;
    grid-area: text;
}
/*.debate_button{
    background-color: #38A3A5;
    padding: 5px;
    border-radius: 15%;
    margin-top: 5px;
}
.second_button{
    background-color: #38A3A5;
    padding: 5px;
    border-radius: 15%;
    margin-top: 5px;
}*/
.button{
    height: 20px;
    background-color: #38A3A5;
    padding: 5px;
    border-radius: 15%;
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #c7f9cc;
}

.circle_button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #57cc99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog_box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid;
    background-color: #C7F9CC;
    padding: 0px;
    width: 600px;
}

.dialog_top_bar {
    background-color: #D9D9D9;
    text-align: center;
    display: block;
    width: 100%;
}

.dialog_box_body {
    background-color: #C7F9CC;
    display: block;
    padding: 16px;
    gap: 10px;
}

.dialog_box_input {
    gap: 10px;
}

.dialog_box_textbox {
    border-radius: 4px;
    border: 5px;
}

.dialog_box_large_textbox {
    border-radius: 4px;
    border: 5px;
    height: 100px;
}

.dialog_box_button {
    background-color: #57CC99;
    border-radius: 10px;
}

.dialog_box_footer {
    align-items: right;
    padding: 8px;
    box-sizing: border-box;
}

/*user_bar elements (prop_vote_button, send_button, and checkbox)*/
#prop_vote_button{
    grid-area: buttons;
    margin: 20px;
    justify-self: right;
    color: white;
}
#send_button{
    grid-area: buttons;
    justify-self: left;
    margin-top: 20px; 
}
#checkbox{
    grid-area: checkbox;
    color: white;
    background-color: #38A3A5;
    justify-self: right;
    align-self: top;
    
}