html, body{
    background-color: #c7f9cc;
    margin: 0;
    padding: 0;
}
.main_body{
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'motion'
                         'user';
}
.top_bar{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}
.right_buttons{
    display:flex;
    justify-content: baseline;
}

.back_button{
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.motion_box{
    width: 850px; 
    background-color: #57cc99;
    padding: 10px;
    display: grid;
    align-items: space-between;
    grid-area: motion;
    place-self: center;

}

.user_bar{
    background-color:#22577A;
    grid-area: user;
}

.motion{
    background-color: lightgray;
    padding: 10px;
}

.bottom_motion{
    display:flex;
    justify-content: space-between;
}
/*.debate_button{
    background-color: #38A3A5;
    padding: 5px;
    border-radius: 15%;
    margin-top: 5px;
}
.second_button{
    background-color: #38A3A5;
    padding: 5px;
    border-radius: 15%;
    margin-top: 5px;
}*/
.motion_button{
    height: 20px;
    background-color: #38A3A5;
    padding: 5px;
    border-radius: 15%;
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #c7f9cc;
}

.circle_button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #57cc99;
    display: flex;
    justify-content: center;
    align-items: center;
}